*
!.gitignore
!.editorconfig
!.dockerignore
!LICENSE
!CONTRIBUTING.md
!SECURITY.md
!CODE_OF_CONDUCT.md
!CHANGELOG.md
!Dockerfile
!.env.telegram-bot-api.example
!docker-compose.telegram-bot-api.yml
!agent.js
!agent-arm64.js
!go.mod
!go.sum
!main.go
!astrbot_api.go
!README.md
!README-CN.md
!README-ASTRBOT.md
!config.example.yaml
!.github/
!.github/workflows/
!.github/workflows/*
!utils/
!utils/**
